# Files and directories to ignore
tree_output.txt

# Virtual environment
venv/
bot_venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd