# Files and directories to ignore
tree_output.txt

# Exclude local dev and deployment scripts
Commands.md
Create_AKS_+_ACR_setup.sh
GitHub_OIDC_+_Federated_Identity_Setup.sh

# Virtual environment
bot_venv/

# 
manifests/controller-manager.yaml

# Environment variables
.env

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Exclude all private keys and certificates globally
*.pem
# Exclude private keys and certs
app/gh-k8s-arc-runner*.pem
app/certs/
app/*.pem

# Misc
tree_output.txt