{% extends "layout.html" %}

{% block content %}
    <!-- Main Container -->
    <div class="container">
        <!-- Welcome Section -->
        <section class="welcome-section">
            <h2 class="title">Welcome to the AI Application "IGNITUS" AI Tool Suite!</h2>
            
            <p> With our powerful AI tools, you can generate essays on any topic, create unique images from descriptions, interact with an intelligent chatbot, transcribe your audio files, and summarize long texts with just a few clicks </p>
        </section>

        <!-- Subject and Professor Information Section -->
        <section class="subject-section">
            <h2 class="title">Course Information</h2>
            <p><strong>Subject:</strong> Building AI Applications with ChatGPT APIs</p>
            <p><strong>Professor:</strong> Martin Yanev </p>
            <p><strong>eMail:</strong> myanev@fitchburgstate.edu </p>
        </section>
    </table>
</section>
    </div>
{% endblock %}
